@import 'nib'

body
	padding-top 70px

.bs-footer
	margin-top: 40px
	border-top 2px solid #DDD

.affix	
	position: fixed
	top: 80px

.affix-bottom
	position:absolute

#navbar .nav .nav
		display: none

#navbar .nav > .active > ul
			display: block
			font-size: 90%

.nav .nav > li > a
	padding-left: 30px;



