@import 'nib'

body
	padding-top 70px

.bs-footer
	margin-top: 40px
	border-top 2px solid #DDD

.affix	
	position: fixed
	top: 80px

.affix-bottom
	position:absolute

#navbar .active	ul
			display: block

#navbar .inactive ul
			display: none
.nav .nav > li > a
	padding-left: 30px;



