@import 'nib'

body
	padding-top 70px

.bs-footer
	margin-top: 40px
	border-top 2px solid #DDD

.affix	
	position: fixed
	top: 80px

.affix-bottom
	position:absolute

#navbar
	background-color: #F3F2F7

//#navbar .nav .nav
//	display: none

//#navbar .nav > .active > ul			
//			display: block

.nav .nav > li > a
	font-size: 80%
	padding-left: 15px	

.nav > .active > a
	font-weight: bold
	color: #3C6285

	
.maillists
	border: 1px solid grey
	td
		padding: 10px
		border: 1px solid grey
	th
		padding: 10px
		border: 1px solid grey






